body{
  display: flex;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  justify-content: center;

  background-color: black;
  border: none;
}

.cardContainer{
  width: 300px;
  border: none;
  border-radius: 30px;
  background-color: darkslategrey;
  /*margin: 1px;*/
  padding-bottom: 20px;
  box-shadow: 1px 1px 5px 0 dodgerblue;
}

.profileName{
  display: flex;
  align-items: center;
  margin: 0;
  height: 70px;
  justify-content: center;

  background-color: white;
  border-radius: 30px 30px 0 0;

  font-style: normal 'Cabin', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: darkslategrey;
}

.profileContainer{
  padding: 30px;
  color: white;
}

.profilePicture{
  width: 100px;
  height: 100px;
  object-fit: cover;
  display: flex;
  margin: 0 auto 30px auto;
  border-radius: 50px;
  box-shadow: 1px 1px 5px 0 dodgerblue;
}

.profileAbout{
  font-style: 'Cabin', sans-serif;
  font-size: 15px;
  text-align: justify;
}

.profileDataContainer{
  display: flex;
  margin: 30px 0 30px 0;
}

.profileScoresContainer{
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
  text-align: center;
}

.profileScoresScores{
  font-size: 25px;
}

.profileScoresScores{
  font-style: 'Oswald', sans-serif;
}

.profileButtonContainer{
  display: inline;
  padding: 0 30px;
  font-size: 18px;
}

.profileButtonFollow{
  background-color: dodgerblue;
  padding: 10px 20px;
  border-radius: 30px;
  float: left;
}

.profileButtonMessage{
  background-color: white;
  padding: 10px 20px;
  border-radius: 30px;
  color: darkslategrey;
  float: right;
}